<div class="agepopup" style="height: 215px;"> <!--main Div -->

<div class="appbackground white textcenter popup_headerbar roboto"> 

   

    <div class="row padding_0" style="height:40px">
        <div class="col col-17 padding_0"><img src="img/true.png" alt="close" style="height: 22px;margin: 9px;float: left;" ng-click="hdialog()"></div>
        <div class="col padding_0" style="line-height: 47px;">Kidney Stage</div>
        <div class="col col-17 padding_0"><img src="img/close.png" alt="close" style="height: 22px;margin: 9px;float: right;" ng-click="hdialog()"></div>
    </div>
    
    
    
</div>

<ion-list>
  <ion-radio  ng-model="choice" ng-value="'A'" class="roboto">Stage 1</ion-radio>
  <ion-radio  ng-model="choice" ng-value="'A'" class="roboto">Stage 2</ion-radio>
  <ion-radio  ng-model="choice" ng-value="'A'" class="roboto">Stage 3</ion-radio>
  <ion-radio  ng-model="choice" ng-value="'A'" class="roboto">Stage 4</ion-radio>
  <ion-radio  ng-model="choice" ng-value="'A'" class="roboto">Stage 5/ESRD</ion-radio>
  
</ion-list>

</div> <!-- # main Div -->

