<div class="agepopup" style="height: 230px;background-color:#fff"> <!--main Div -->


<div class="appbackground white textcenter popup_headerbar roboto" style="font-weight: 800;letter-spacing: 0.5px;">
    Alert !
</div>
<div style="height:40px"></div>

    <div>
        <img src="img/danger.png" alt="alert_image" style="    display: table;margin: auto;margin-top: 14px;height: 50px;">
    </div>

<div style="font-size: 15px;text-align: center;padding: 17px 0px;">   
    Are you Really Want to log out?
</div>


    <div class="row">
        <div class="col">
            <button class="button button-outline button-positive" style="min-height: 10px;margin: auto;display: table;    height: 35px;width: 63px;line-height: 30px;" ng-click="hdialog();">No</button>
        </div>
        <div class="col">
            <button class="button button-outline button-positive" style="min-height: 10px;margin: auto;display: table;    height: 35px;width: 63px;line-height: 30px;" ng-click="hdialog();Logout()">Yes</button>
        </div>	
	</div>

</div> <!--# main Div -->